# core
export NLP_VERSION=0.3
# tools
export GPT_CR_VERSION=0.0
export GPT_DOC_VERSION=0.0
export GPT_FIM_VERSION=0.7
export GPT_GIT_VERSION=0.5
export GPT_MATH_VERSION=0.1
export GPT_PM_VERSION=0.2
export GPT_PRO_VERSION=0.1
export NB_VERSION=0.5
export PLA_VERSION=0.2
