start-app*tar.gz
# Generated secrets
start-app*tgz
.env
.envrc
backend/.env
frontend/.env
.npmrc
# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

# Dependencies (if running locally)
backend/_build/
backend/deps/
frontend/node_modules/
frontend/.next/
*_crash.dump
