export DATABASE_USER=noizu
export DATABASE_NAME=noizu
export DATABASE_PASSWORD=123j2d3192369234dh12dh213k432
export POSTGRES_PASSWORD=${DATABASE_PASSWORD}
export DATABASE_HOST=noizu-database
export DATABASE_PORT=5432
#export DATABASE_HOST=localhost
#export DATABASE_PORT=5432
export DATABASE_URL="postgres://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}"
export DATABASE_POOL_SIZE="10"
export PHX_HOST=noizu.com
export PORT=80
export SECRET_KEY_BASE="4xKwq90v2IllpYWZRG5AZQsRW2f26PDmJxQCjbL9I9V+lEC7NhEIuDKKWrl2ErwH"
export PHX_SERVER=1

